https://hm22.local {
  reverse_proxy http://minio:9000
  rewrite * /static{path}?{query}
  rewrite / /static/index.html
}

https://minio.hm22.local {
  reverse_proxy http://minio:9000
}

https://console.minio.hm22.local {
  reverse_proxy http://minio:9001
}

https://ipfs.hm22.local {
  reverse_proxy http://ipfs:5001
}

https://ipfs-gateway.hm22.local {
  reverse_proxy http://ipfs:8080
}

https://api.hm22.local {
  reverse_proxy http://api:3002
}